/.idea
/.vscode
*.log
/test
/runtime/
/node_modules/
/public/download
/public/public/*
/public/plugins/*
.editorconfig
.env
.gitmodules
.travis.yml
/data/install.lock
public/.user.ini
public/image
public/apppm
public/module/*
public/plugins/*