<header id="header" class="clearfix">
	<div class="container">
		<div class="colgroup">
			<div class="site-name col-mb-12 col-9">
				<a id="logo" href="{:url('/')}">
					{:config('app.WEB_SITE_NAME')}
				</a>
				<p class="description">{:config('app.WEB_SITE_TITLE')}</p>
			</div>
			<div class="site-search col-3 kit-hidden-tb">
				<form id="search" method="post" action="/index" role="search">
					<label for="kw" class="sr-only">搜索关键字</label>
					<input type="text" name="kw" class="text" placeholder="输入关键字搜索" />
					<button type="submit" class="submit">搜索</button>
				</form>
			</div>
			<div class="col-mb-12 navbar">
				<nav id="nav-menu" class="clearfix" role="navigation">
					<a class="current" href="{:url('/')}">首页</a>
					<a href="/webstack">网站导航</a>
					<a href="/same_rhythm">同唱-音乐聚合器</a>
					{volist name="single" id="vo"}
						<a href="{:url('Index/single?name='.$vo['title'])}">{$vo.title}</a>
					{/volist}
					<a href="http://new-qk.lifves.com/list.php?url=NDFEMyVldXNzaTYyJTAyMDJEMyVyYWV5NjIlZGE4NDAzNDFjMzZkLTNmZDktMTA2NC1kNzJhLTlmMmQ1NDA3RDMlZGlGMyVsaWF0ZWRGMiVhZ2FtRjIlY3BGMiVtb2MubmFraXEuc3BkLmdzdHhkbmpGMiVGMiVBMyVwdHRo">电脑爱好者</a>
					<a href="http://new-qk.lifves.com/list.php?url=MDNEMyVldXNzaTYyJTAyMDJEMyVyYWV5NjIlOGQ3ZGJhYjFlZmUzLWQxMGItY2I2NC05YTYyLWY5MDVhMzg2RDMlZGlGMyVsaWF0ZWRGMiVhZ2FtRjIlY3BGMiVtb2MubmFraXEuc3BkLmdzdHhkbmpGMiVGMiVBMyVwdHRo">电脑报</a>
					<a href="journal">期刊</a>
				</nav>
			</div>
		</div><!-- end .colgroup -->
	</div>
</header><!-- end #header -->