<section class="activity-title edit-text" style="color: rgb(255, 102, 51);"></section>
<div class="edit-model">
    <section class="banner-wrap edit-pic edit-model select">
        <img class="edit-img" src="http://weiwoju.oss-cn-hangzhou.aliyuncs.com/uploads/2017-01-23/58858e0c1e2c0.png" alt="">
    </section>
</div>
<section class="activity-hint edit-text" style=" font-weight: 900; font-size: 0.68rem;">本店招牌菜</section>
<div class="banner03-wrap edit-model">
    <section class="pic edit-pic">
        <img class="edit-img" src="http://weiwoju.oss-cn-hangzhou.aliyuncs.com/uploads/2017-01-23/58858e86e8639.png" alt="">
    </section>
    <section class="edit-text discount" style="height:2.5rem !important;">8.8</section>
    <div class="info">
        <section class="name edit-text">海参</section>
        <section class="yprice edit-text">68元</section>
        <section class="xprice edit-text">58</section>
    </div>
    <section class="text edit-text">海参，属海参纲(Holothuroidea)，是生活在海边至8000米的海洋棘皮动物</section>
</div>
<div class="banner03-wrap edit-model">
    <section class="pic edit-pic">
        <img class="edit-img" src="http://weiwoju.oss-cn-hangzhou.aliyuncs.com/uploads/2017-01-23/58858ed05b196.jpg" alt="">
    </section>
    <section class="edit-text discount" style="height: 2.5rem !important;">8.8</section>
    <div class="info">
        <section class="name edit-text">阳澄湖大闸蟹</section>
        <section class="yprice edit-text">58元</section>
        <section class="xprice edit-text">36</section>
    </div>
    <section class="text edit-text">阳澄湖大闸蟹，又名金爪蟹，煮熟凝结，雌者成金黄色，雄者如白玉状，滋味鲜美，是享誉中国的名牌产品。</section>
</div>
<section class="activity-hint edit-text">活动期间本店菜品一律8.8折</section>
<div class="col-pro2-wrap edit-model">
    <a href="javascript:;" class="edit-model">
        <section class="edit-pic"><img class="edit-img" src="http://weiwoju.oss-cn-hangzhou.aliyuncs.com/uploads/2017-01-23/58858f0e247be.jpg" alt=""></section>
        <div class="info">
            <section class="name edit-text">蒜蓉粉丝扇贝</section>
            <section class="price edit-text">56</section>
        </div>
    </a>
    <a href="javascript:;" class="edit-model">
        <section class="edit-pic"><img class="edit-img" src="http://weiwoju.oss-cn-hangzhou.aliyuncs.com/uploads/2017-01-23/58858f36c84b1.jpg" alt=""></section>
        <div class="info">
            <section class="name edit-text">三文鱼</section>
            <section class="price edit-text">36</section>
        </div>
    </a>
    <a href="javascript:;" class="edit-model">
        <section class="edit-pic"><img class="edit-img" src="http://weiwoju.oss-cn-hangzhou.aliyuncs.com/uploads/2017-01-23/58858f61e16c8.jpg" alt=""></section>
        <div class="info">
            <section class="name edit-text">美味鲜虾</section>
            <section class="price edit-text">56</section>
        </div>
    </a>
    <a href="javascript:;" class="edit-model">
        <section class="edit-pic"><img class="edit-img" src="http://weiwoju.oss-cn-hangzhou.aliyuncs.com/uploads/2017-01-23/58858fba33303.jpg" alt=""></section>
        <div class="info">
            <section class="name edit-text">肉蟹</section>
            <section class="price edit-text">36</section>
        </div>
    </a>
</div>
<div id="moduleline" style="display:none;"></div>
<div class="contact-wrap">
    <section class="name edit-text">杭州歌德海鲜城</section>
    <section class="address edit-text"><img src="http://weiwoju.com/Public/wap/template/images/address.png" alt="">杭州市江干区机场路188号</section>
    <section class="time edit-text">活动时间：2016年11月20日 至 11月30日</section>
    <section class="tel edit-text"><img src="http://weiwoju.com/Public/wap/template/images/tel.png" alt="">联系电话：0571-39872989</section>
</div>